header {
    background-color:dodgerblue;
    background-image: url('../img/pattern.png');
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead {
    background-color: rgb(32, 169, 229);
    color: white;
    text-align: left;
}

.link {
    color: rgb(121, 203, 239);
}

.highlighted {
    /* Potevo usare anche <mark> */
    background-color: #FFFF00;
}

.table-bg-cyan {
    background-color: rgb(177, 229, 242);
}

.gray-text {
    color: rgb(133, 133, 133);
}

.no-margin-x {
    margin-top: 0;
    margin-bottom: 0;
}

.img-container {
    height: 150px;
    width: 200px;
    margin-bottom: 10px;

    padding: 10px;

    background-size: cover;

    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

#logo {
    height: 80px;
    margin-top: 90px;
}

#title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
}

#author {
    font-size: 18px;
}

#sources {
    font-size: 12px;
}

#img-1 {
    background-image: url('../img/monitor.jpg');
}

#img-2 {
    background-image: url('../img/graph.jpg');

}
